@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-dark-blue;
}

@media only screen and (min-width: 700px) {
	.img-1 {
		background: url('../public/Start\ Today.svg') no-repeat center fixed;
		background-size: cover;
	}

	.img-2 {
		height: 100vh;
		background: url('../public/Start\ Today\ \(1\).svg') no-repeat center fixed;
		background-size: cover;
	}
}

.loading {
  width: 25px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(#fff 0 0);
  background: 
    var(--c) 0%   50%,
    var(--c) 50%  50%,
    var(--c) 100% 50%;
  background-size: 25% 50%;
  animation: b6 1s infinite cubic-bezier(.5, 0, .5, 1);
}
@keyframes b6 {
  20% {background-position: 0% 0%  ,50% 50% ,100% 50% }
  40% {background-position: 0% 100%,50% 0%  ,100% 50% }
  60% {background-position: 0% 50% ,50% 100%,100% 0%  }
  80% {background-position: 0% 50% ,50% 50% ,100% 100%}
}

.text-fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}